<!DOCTYPE html>
<html>
<head>
   <title>Test Run Service</title>
   <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>

    <h1>Test Run Service.</h1>
    <div>
    <h3>Run test:</h3>
    <form action="" method="get" class="run_form">
        <select name="path">
           {% for test in tests %}
                <option value="{{test}}">{{test.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" name="run" value="Run">
       {% block run_status %}
       {% endblock %}
    </form>
    </div>

    <div>
    <h3>Show result:</h3>
    <form action="" method="get" class="show_form">
        <select name="path">
            {% for test in tests %} 
                <option value="{{test}}">{{test.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" name="show" value="Show" class="show_button">
        {% block show_status %}
        {% endblock %}
    </form>
    {% block test_result %}
    {% endblock %}
    </div>
</body>
</html>
